.main-container {
    margin: 0 auto;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container h2 {
    font-size: 56px;
    color: #B5852C;
    margin: 0;
}

.list-container {
    width: 40%;
    list-style: none;
    font-size: 44px;
    font-weight: bold;
    margin: 0;
}
